#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-container {
  display: flex;
}

/* Drawer styles */
.drawer {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100vh;
  background-color: #464646;
  padding: 0px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.3);
  transition: left 0.3s ease;
  z-index: 1101;
}

.drawer.open {
  left: 0;
}

.drawer .close-btn {
  background: transparent;
  border: none;
  font-size: 16px;
  margin-bottom: 20px;
  cursor: pointer;
}

.menu-list {
  list-style: none;
  padding: 0;
}

.menu-list li {
  margin: 15px 0;
  cursor: pointer;
}

/* Content styles */
.content {
  flex: 1;
  margin-left: 0;
  transition: margin-left 0.3s ease;
  padding: 0px;
  margin-top: 32px; /* added to prevent overlap with fixed app bar */
}

/* App bar styles */
.app-bar {
  display: flex;
  align-items: center;
  background-color: #384666;
  color: white;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw; 
  height: 64px;
  z-index: 1100;
}

.app-bar .menu-icon {
  display: inline-flex;      /* make the button a flex container */
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.app-bar .menu-icon .material-icons {
  font-size: 32px;
}